---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Documentación - SIMAPI">
  <main class="container mx-auto px-4 py-20">
    <h1>Documentación</h1>
    <p>
      En esta sección encontrarás información detallada sobre el funcionamiento
      de nuestros productos y servicios.
    </p>
  </main>
</Layout>
