---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import Benefits from "../components/home/Benefits.astro";
import Services from "../components/home/Services.astro";
import Sensor from "../components/home/Sensor.astro";
import QuotationForm from "../components/home/QuotationForm.astro";
import MissionVision from "../components/home/MissionVision.astro";
---

<Layout title="SIMAPI - Tecnología que trabaja para ti">
  <main>
    <Hero />
    <Benefits />
    <Services />
    <Sensor />
    <QuotationForm />
    <MissionVision />
  </main>
</Layout>

<style>
  main {
    width: 100%;
  }
</style>
