---
import SectionTitle from "../about/SectionTitle.astro";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import { Textarea } from "@/components/ui/textarea";
import { Button } from "../ui/button";
---

<section class="py-20 bg-background">
  <div class="container mx-auto px-4">
    <SectionTitle
      title="Contáctanos"
      subtitle="Estamos aquí para responder tus preguntas"
    />
    <div class="max-w-xl mx-auto">
      <form
        id="contactForm"
        class="bg-background border p-8 rounded-xl shadow-sm"
      >
        <div class="space-y-6">
          <div class="grid gap-4">
            <Label htmlFor="name">Nombre</Label>
            <Input type="text" id="name" name="name" required />
          </div>

          <div class="grid gap-4">
            <Label htmlFor="email">Correo Electrónico</Label>
            <Input type="email" id="email" name="email" required />
          </div>

          <div class="grid gap-4">
            <Label htmlFor="subject">Asunto</Label>
            <Input type="text" id="subject" name="subject" required />
          </div>

          <div class="grid gap-4">
            <Label htmlFor="message">Mensaje</Label>
            <Textarea rows={4} id="message" name="message" required />

            <Button type="submit"> Enviar mensaje </Button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    document
      .getElementById("contactForm")
      ?.addEventListener("submit", async (e) => {
        e.preventDefault();

        const formData = new FormData(e.target as HTMLFormElement);
        const data = Object.fromEntries(formData);

        try {
          // Here you would typically send the data to your backend
          console.log("Form data:", data);
          alert(
            "Mensaje enviado correctamente. Nos pondremos en contacto contigo pronto."
          );
          (e.target as HTMLFormElement).reset();
        } catch (error) {
          console.error("Error:", error);
          alert(
            "Hubo un error al enviar el mensaje. Por favor, intenta nuevamente."
          );
        }
      });
  </script>
</section>
